:root {
  --primary: #27ae60;
  --secondary: #2980b9;
  --white: #fff;
  --gray: #f2f2f2;
  --dark: #2c3e50;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*Tamano de la imagen*/
img {
  
    max-width: 90%;
    ]
  }
  .Imagen {
  
    max-width: 90%;
    width: 15em;
    height: 10em;
  }
/* Colocar la imagen a la izquierda */
@media (min-width: 768px) {
    .entry img {
      width: 90em;
      height: 90;
      image-orientation: initial;
      margin: 0 1.25em 0 0;
    }
  }
  .entry p {
    text-align: justify;
  }
  .alin p {
      text-align: center;
  }

  .noticias {
    width: 50%;
    max-width: 1000px;
    text-align: justify;
    margin: 2rem auto;
    background: var(--gray);
    padding: 2rem;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}
.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.tarjeta {
  width: 25rem;
  padding: 0;
  margin: 1rem;
  box-shadow: 5px 5px 25px #27ae60;
}
.text-center {
  padding: 1rem;
  text-align: center;
}

element.style {
}
.tarjeta {
    width: 25rem;
    padding: 0;
    margin: 1rem;
    box-shadow: 5px 5px 25px #27ae60;
}
.text-center {
  padding: 1rem;
    text-align: justify;
}
.text-center {
  padding: 1rem;
    text-align: justify!important;
}
.boton-personalizado {
  text-decoration:none;
  font-weight:600;
  font-size:20px;
  color:#ffffff;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:100px;
  padding-right:100px;
  
  background-color:#27ae60;
  text-align: justify;
  }

  @media (min-width: 768px) {
    .boton-personalizado {
      text-decoration:none;
      font-weight:600;
      font-size:20px;
      color:#ffffff;
      padding-top:20px;
      padding-bottom:20px;
      padding-left:40px;
      padding-right:40px;
      
      background-color:#27ae60;
      text-align: justify;
    }
  }


.excerpt_news a p {
  color: #ccc;
  text-decoration: none;
}
@media (max-width: 767px)
 {
  .excerpt_news {
    font-size: 0.8em;
  }
}
.excerpt_news{
  
    font-family: 'Signika', sans-serif;
    font-size: 1em;
    color: #636363;
    font-weight: 300;

}

.col-lg-12, .col-lg-4, .col-sm-6, .col-xs-12{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} 

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
@media (max-width: 767px){
.content-title {

    padding: 0.5em 0;
    
  }}
.content-title {
    font-size: 2.375em;
    color: #41c579;
    font-weight: 400;
    text-align: center;
}
@media (max-width: 767px){
.content-subtitle {

    padding-top: 0;
    padding-bottom: 0.5em;
}}
.content-subtitle {
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    text-align: center;
}
.posts-list {
  float: left;
  overflow: hidden;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col-xs-12 {
  width: 100%;
}
@media (max-width: 479px) {
.posts-list .post-in-list {
    height: auto;
    width: 100%;
    margin-left: 0;
}}
@media (max-width: 767px){
.posts-list .post-in-list {
    height: auto;
    width: 80%;
    margin-right: 0;
    margin-left: 10%;
}}

.posts-list .post-in-list {
  height: auto;
  background-color: #fff;
  margin-bottom: 2em;
}

.posts-list .post-in-list .bottom {
  padding: 1.6em 1.4em;
  height: 320px;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
  color: -internal-root-color;
}